@import "./variables.scss";

.root {
  position: fixed;
  top: 0;
  height: 4rem;
  background-color: $element-bg-lighter_dark;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 10;
  min-width: 320px;
}

.graphic_1 {
  position: absolute;
  background-color: $purple;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.graphic_2 {
  position: absolute;
  top: 2rem;
  left: 0;
  height: 2rem;
  width: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: $light-purple;
}

.align_right {
  display: flex;
  align-items: center;
  button {
    @include button-reset;
    &:hover {
      .icon {
        color: $light-blue-gray;
      }
    }
  }
}

.icon {
  font-size: 2rem;
  color: $blue-gray;
  &_moon {
    font-size: 1.75rem;
  }
}

.avatar_name_container {
  display: flex;
  align-items: center;
}

.name {
  @include body_lg;
  color: $blue-gray;
  margin-left: 0.5rem;
  display: none;
}

.divider {
  height: 4rem;
  width: 1px;
  margin: 0 1rem;
  background-color: $blue-gray;
}

.avatar {
  border-radius: 50%;
  border: 5px solid $blue-gray;
}

@media screen and (min-width: 500px) {
  .name {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .root {
    left: 0;
    width: 4rem;
    min-width: unset;
    height: 100%;
    flex-direction: column;
    padding: 1rem 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .align_right {
    flex-direction: column;
  }

  .divider {
    height: 1px;
    width: 4rem;
    margin: 1rem 0;
    background-color: $blue-gray;
  }

  .avatar_name_container {
    flex-direction: column-reverse;
    .avatar,
    .icon {
      transform: rotate(-90deg);
    }
  }

  .name {
    writing-mode: vertical-rl;
    margin-left: 0;
    margin-bottom: 0.5rem;
    transform: rotate(180deg);
  }
}

@media print {
  .root {
    display: none;
  }
}
