@import "./variables.scss";

.root {
  position: relative;
  @include textfield;
  background-color: $white;
  padding-right: 3rem !important;
  span {
    text-transform: capitalize;
  }
  .toggle_options_button {
    color: $blue-gray;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 18px;
    transform: translate(0, -50%);
    position: absolute;
    right: 1rem;
    top: 50%;
    cursor: pointer;
  }
  &_dark {
    background-color: $element-bg-lighter_dark;
    color: $white;
    border-color: transparent;
    .toggle_options_button {
      color: $light-purple;
    }
    .options_container {
      background-color: $element-bg-lighter_dark;
      box-shadow: none;
      .options {
        li {
          border-color: $element-bg_dark;
          button {
            color: $white;
            &:hover {
              background-color: $element-bg_dark;
            }
          }
          button.active {
            color: $light-purple;
          }
        }
      }
    }
  }
  &_focused {
    border-color: $light-purple;
  }
  &_with_error {
    border-color: $red;
  }
}

.options_container {
  padding-right: 0.5rem;
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  border-radius: 5px;
  @include shadow-1;
  &_terms {
    padding-right: 0;
  }
}

.options {
  li {
    border-bottom: 1px solid $light-blue;
    margin-right: 0.5rem;
    &:last-child {
      border-bottom: none;
      button {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    button {
      @include button-reset;
      @include text_sm;
      width: 100%;
      text-align: left;
      padding: 1rem;
      text-transform: capitalize;
      &:hover {
        background-color: $light-blue;
      }
    }
    button.active {
      color: $purple;
    }
  }
  @include list-reset;
  max-height: 16rem;
  transition: max-height 0.5s ease-out;
  width: 100%;
  overflow: auto;
  &_terms {
    overflow: hidden;
    max-height: 13rem;
    li {
      margin-right: 0;
    }
  }
  &_hidden {
    max-height: 0;
    overflow: hidden;
  }
  &::-webkit-scrollbar {
    width: 9px;
    height: 0;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $light-blue;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $light-purple;
  }
}
