@import "./variables.scss";

.root {
  position: relative;
  @include textfield;
  background-color: $white;
  padding-right: 3rem;
  &_focused {
    border-color: $light-purple;
  }
  .button {
    color: $blue-gray;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 18px;
    transform: translate(0, -50%);
    position: absolute;
    right: 1rem;
    top: 50%;
    cursor: pointer;
  }
  .calendar {
    position: absolute;
    top: 4.5rem;
    left: 0;
    max-height: 17rem;
    transition: max-height 0.5s ease-out;
    z-index: 10;
    &_hidden {
      max-height: 0;
      overflow: hidden;
    }
  }
  .chevron {
    pointer-events: none;
  }
}
