@import "./variables.scss";

.root {
  margin: 2rem 0;
  width: 90%;
  p {
    @include body_lg;
  }
  p.label {
    color: $blue-gray;
  }
  &_with_invoice_form {
    display: none;
  }
  &_dark {
    .container {
      background-color: $element-bg_dark;
      box-shadow: none;
    }
    p.status {
      &_draft {
        color: $white;
        background-color: $status-draft-bg_dark;
      }
    }
    .actions {
      background-color: $element-bg_dark;
    }
    p,
    p.description,
    .address p,
    .id {
      color: $white;
    }
    .details {
      p:not(.label):not(.address p) {
        color: $white;
      }
    }
    .breakdown {
      ul {
        background-color: $element-bg-lighter_dark;
      }
      .total_container {
        background-color: $text_light;
        p {
          color: $blue-gray;
        }
      }
      & > ul > li {
        &.list_headings {
          border-color: $element-bg_dark;
          .item_price,
          .item_quantity {
            color: $blue-gray;
          }
        }
        .item_price,
        .item_quantity {
          color: $blue-gray;
        }
      }
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .download_link {
    @include button-reset;
    font-size: 1rem;
    color: $purple;
    text-decoration: underline;
    font-weight: 500;
    &:hover {
      color: $light-purple;
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    .icon {
      margin-right: 0.5rem;
    }
  }
}

.container {
  background-color: $white;
  border-radius: 5px;
  @include shadow-2;
  margin-top: 1rem;
  padding: 1.5rem;
  &_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  &:not(.container_status) {
    margin-bottom: 8rem;
  }
}

p.status {
  text-align: center;
  text-transform: capitalize;
  width: 7rem;
  padding: 0.75rem 0;
  &_paid {
    background-color: $status-paid-bg;
    color: $status-paid;
  }
  &_pending {
    background-color: $status-pending-bg;
    color: $status-pending;
  }
  &_draft {
    background-color: $status-draft-bg;
    color: $status-draft;
  }
}

.id {
  @include heading-2_sm;
  span {
    color: $blue-gray;
  }
}

p.description {
  @include body_xl;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.address p {
  @include body_sm;
  color: $blue-gray;
}

.details {
  display: flex;
  margin-top: 2rem;
  & > div {
    width: 50%;
  }
  p:not(.label):not(.address p) {
    @include body_xl;
    margin-top: 1rem;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.breakdown {
  margin-top: 2rem;
  ul {
    @include list-reset;
    background-color: $light-gray;
    padding: 1rem 0;
  }
  .list_headings {
    display: none;
    border-bottom: 1px solid $light-blue;
    margin-bottom: 1rem;
    .item_price,
    .item_quantity {
      color: $blue-gray;
    }
    p {
      @include body_sm;
      color: $blue-gray;
    }
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    .item_quantity_price {
      color: $blue-gray;
      margin-top: 0.5rem;
    }
  }
  .total_container {
    background-color: $navbar-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    p {
      color: $white;
      &:last-child {
        @include body_xxl;
        color: $white;
      }
    }
  }
}

.actions {
  background-color: $white;
  padding: 1rem 5%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  min-width: 320px;
  button {
    @include button-reset;
    span {
      display: none;
    }
    .icon_xs_only {
      font-size: 2rem;
    }
  }
  .edit_button {
    margin-right: 2rem;
    color: $blue-gray;
    &:hover {
      color: $light-blue-gray;
    }
  }
  .delete_button {
    margin-right: auto;
    color: $red;
    &:hover {
      color: $light-red;
    }
  }
  .mark_as_button {
    @include button-purple;
  }
  .download_button {
    @include button-reset;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    span {
      display: none;
    }
    .icon_xs_only {
      font-size: 2rem;
      color: $blue-gray;
    }
    &:hover {
      .icon_xs_only {
        color: $light-blue-gray;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .root {
    &_dark {
      .actions {
        .edit_button {
          @include button-edit_dark;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .actions {
    button {
      span {
        display: block;
      }
      .icon_xs_only {
        display: none;
      }
    }
    .edit_button {
      @include button-edit_light;
      margin-right: 1rem;
      &:hover {
        color: $text_light;
      }
    }
    .delete_button {
      @include button-delete;
      &:hover {
        color: $white;
      }
    }
    .mark_as_button {
      @include button-purple;
    }
  }
}

@media screen and (min-width: 768px) {
  .root {
    &_with_invoice_form {
      display: block;
    }
    &_dark {
      .breakdown {
        & > ul > li {
          .item_price,
          .item_quantity {
            color: $white;
          }
        }
      }
    }
  }

  .actions {
    position: static;
    padding: 0;
    width: unset;
    margin-left: auto;
    .delete_button {
      margin-right: 1rem;
    }
    .download_button {
      margin-right: 1rem;
    }
  }

  .container_status .label {
    margin-right: 1.5rem;
  }

  .container:not(.container_status) {
    margin-bottom: 4rem;
    & > div:first-child {
      display: flex;
      justify-content: space-between;
      .address {
        text-align: right;
      }
    }
  }

  .details {
    width: 60%;
    position: relative;
  }

  .client_email {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0%);
  }

  .breakdown {
    & > div:last-child {
      padding: 1.5rem 1rem;
    }
    & > ul > li {
      &.list_headings {
        display: flex;
      }
      position: relative;
      padding: 1rem;
      margin-bottom: 0;
      .item_quantity_price {
        margin-top: 0;
      }
      .item_quantity {
        position: absolute;
        transform: translate(-100%, -50%);
        top: 50%;
        left: 50%;
        color: $text_light;
        span {
          display: none; // hide the "x"
        }
      }
      .item_price {
        position: absolute;
        transform: translate(-100%, -50%);
        top: 50%;
        left: 75%;
        color: $text_light;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    width: 80%;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 60%;
  }
}
