@import "./variables.scss";

.root {
  width: 90%;
  &_with_invoice_form {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .root {
    &_with_invoice_form {
      display: block;
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    width: 80%;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 60%;
  }
}
