@import "./variables.scss";

.root {
  padding: 2rem 2rem 3rem 2rem;
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 4rem;
  overflow: auto;
  min-height: calc(100vh - 9rem);
  max-height: calc(100vh - 9rem);
  form {
    fieldset {
      @include fieldset-reset;
      margin-top: 2rem;
    }
  }
  &_dark {
    background-color: $element-bg_dark;
    .fieldset_title {
      color: $light-purple;
    }
    .form_title {
      color: $white;
    }
    .label_input_container {
      // label {
      //   color: $white;
      // }
      input {
        background-color: $element-bg-lighter_dark;
        color: $white;
        border: 1px solid transparent;
      }
      &_with_error {
        input {
          border-color: $red;
        }
      }
    }
    .add_new_item_button {
      @include button-edit_dark;
    }
    .actions {
      background-color: $text_light;
      box-shadow: none;
    }
    .item_list {
      li {
        fieldset {
          .item_total {
            p {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.add_new_item_button {
  @include button-edit_light;
  width: 100%;
  margin-top: 2rem;
}

.label_input_container {
  @include form-control-with-label;
  margin-top: 1rem;
  label {
    @include label;
  }
  input {
    @include textfield;
  }
  .label_error_container {
    display: flex;
    justify-content: space-between;
  }
  .error {
    @include text_sm;
    color: $red;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &_with_error {
    input {
      border-color: $red;
    }
  }
}

.items_header_error_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0;
  h2 {
    @include heading-2_sm;
    font-weight: 500;
    color: $blue-gray;
    margin: 0;
  }
  .error {
    @include text_sm;
    color: $red;
    margin: 0;
  }
}

.city,
.zip,
.state,
.country {
  width: calc(50% - 0.5rem);
  display: inline-flex;
}

.state,
.country {
  margin-left: 1rem;
}

.fieldset_title {
  @include text_sm;
  color: $blue-gray;
  margin: 0;
}

.form_title {
  @include heading-1_sm;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item_list {
  @include list-reset;
  li {
    &:first-child {
      fieldset {
        margin-top: 0;
      }
    }
    fieldset {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .item_name {
        width: 100%;
      }
      .item_quantity {
        width: calc(20%);
        display: inline-flex;
      }
      .item_price {
        width: calc(30%);
        display: inline-flex;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-grow: 1;
      }
      .item_total {
        width: calc(25%);
        display: inline-flex;
        flex-grow: 1;
        p {
          @include text_sm;
          margin: 0;
          padding: 1rem 0;
          color: $blue-gray;
        }
      }
      .delete_item_button {
        @include button-reset;
        color: $blue-gray;
        margin: 1rem 0;
        align-self: flex-end;
        font-size: 1.25rem;
        &:hover {
          color: $light-blue-gray;
        }
      }
    }
  }
}

.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $white;
  height: 5rem;
  padding: 1rem 3rem 1rem 2rem;
  box-shadow: 0 -5px 30px $shadow-color;
  button {
    @include button-reset;
    span:not(.icon_xs_only) {
      display: none;
    }
    .icon_xs_only {
      font-size: 2rem;
    }
    &.discard {
      margin-right: auto;
      .icon_xs_only {
        color: $blue-gray;
      }
      &:hover {
        .icon_xs_only {
          opacity: 0.75;
        }
      }
    }
    &.save_as_draft {
      margin-right: 2rem;
      .icon_xs_only {
        color: $purple;
      }
      &:hover {
        .icon_xs_only {
          color: $light-purple;
        }
      }
    }
    &.save_and_send,
    &.save_changes {
      .icon_xs_only {
        color: $purple;
      }
      &:hover {
        .icon_xs_only {
          color: $light-purple;
        }
      }
    }
    &.cancel {
      margin-right: 2rem;
      .icon_xs_only {
        color: $blue-gray;
      }
      &:hover {
        .icon_xs_only {
          opacity: 0.75;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .root {
    &_dark {
      .actions {
        button {
          &.discard,
          &.cancel {
            @include button-save_light;
          }
        }
      }
    }
  }
  .actions {
    button {
      span:not(.icon_xs_only) {
        display: inline;
      }
      .icon_xs_only {
        display: none;
      }
      &.discard {
        @include button-edit_light;
      }
      &.save_as_draft {
        @include button-save_light;
        margin-right: 1rem;
      }
      &.save_and_send {
        @include button-purple;
      }
      &.cancel {
        @include button-edit_light;
        margin-right: 1rem;
      }
      &.save_changes {
        @include button-purple;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  @keyframes slide_right_md {
    0% {
      left: -70%;
    }
    100% {
      left: 0;
    }
  }

  .root {
    position: fixed;
    width: 70%;
    left: 0;
    top: 4rem;
    padding: 0 1.5rem;
    min-height: calc(100vh - 5rem);
    max-height: calc(100vh - 5rem);
    margin-top: 0;
    margin-bottom: 0;
    border-top-right-radius: 1rem;
    overflow: unset;
    animation: slide_right_md 0.5s ease-out 1;
    transition: left 0.5s ease-out;
    &_hidden {
      left: -70%;
      .actions {
        left: -70%;
      }
    }
    form {
      padding: 0 1.5rem 3rem calc(1.5rem + 9px);
      overflow: auto;
      max-height: calc(100vh - 9rem);
      &::-webkit-scrollbar {
        width: 9px;
        height: 0;
      }
      &::-webkit-scrollbar-track {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: $light-blue;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $light-purple;
      }
    }
    &_dark {
      form {
        &::-webkit-scrollbar-thumb {
          background: $blue-gray;
        }
      }
    }
  }

  .terms {
    margin-left: 1rem;
    width: calc(40% - 0.5rem);
    display: inline-flex;
  }

  .date {
    width: calc(60% - 0.5rem);
    display: inline-flex;
  }

  .item_list > li {
    &:not(:first-child) {
      label {
        display: none;
      }
    }
    fieldset {
      margin-top: 0;
    }
    label {
      margin-bottom: 1rem;
    }
    fieldset {
      .item_name {
        width: 20%;
        flex-grow: 1;
      }
      .item_quantity {
        width: 10%;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .item_price {
        width: 20%;
        flex-grow: 0;
        margin-left: 0;
      }
      .item_total {
        width: 20%;
        flex-grow: 0;
      }
    }
  }

  .back_button {
    display: none;
  }

  .actions {
    width: 70%;
    border-bottom-right-radius: 1rem;
    padding: 1rem 3.5rem 1rem calc(3rem + 9px);
    animation: slide_right_md 0.5s ease-out 1;
    transition: left 0.5s ease-out;
  }

  .form_title {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .root {
    padding-left: 5.5rem;
    top: 0;
    form {
      max-height: calc(100vh - 5rem);
    }
  }

  .actions {
    padding-left: 7.5rem;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 50%;
  }

  .actions {
    width: 50%;
  }
}
