@import "./variables.scss";

.root {
  width: 90%;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  div:last-child {
    margin-top: auto;
  }
  &_with_invoice_form {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .root {
    &_with_invoice_form {
      display: block;
    }
  }
}

@media screen and (min-width: 992px) {
  .root {
    width: 80%;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1199px) {
  .root {
    width: 60%;
  }
}
